#header {
  background: #ffffff;
  transform: translateY(0px);
  transition: all 0.5s linear;
}
#header nav .navigation-list li a {
  color: var(--theme-blue);
}

#header .search-button button {
  background-color: #00193627;
  color: var(--theme-blue);
}
#header .header-logo img {
  filter: unset;
}
.common-banner {
  height: 100vh;
  overflow: hidden;
  max-height: 750px;
}

.banner-shape {
  position: relative;
  text-align: center;
}

.banner-shape img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(-15%);
  z-index: 9;
  position: relative;
  outline: 15px solid #ffffff;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes move-1 {
  0% {
    left: 15%;
    bottom: 10%;
  }
  20% {
    left: 35%;
    bottom: 0%;
  }
  40% {
    left: 50%;
    bottom: 30%;
  }
  60% {
    left: 40%;
    bottom: 50%;
  }
  80% {
    left: 20%;
    bottom: 30%;
  }
  100% {
    left: 15%;
    bottom: 10%;
  }
}

.banner-shape .circle-1 {
  position: absolute;
  width: 400px;
  height: 400px;
  background: #2f4d6f url(../assets/common/rw.png);
  background: linear-gradient(120deg, var(--theme-blue), var(--theme-sblue));
  background-size: cover;
  border-radius: 50%;
  left: 15%;
  bottom: 0;
  /* -webkit-animation: move-1 5s linear infinite;
  animation: move-1 5s linear infinite; */
}

.circle-text svg{
    position: absolute;
    left: 15%;
    bottom: 0;
}

.banner-shape .circle-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  background: #58abd3;
  background: #58abd3 url(../assets/logos/ptrn2.png);
  /* background: #2f4d6f; */
  background-size: cover;
  -webkit-animation: move 10s ease infinite alternate;
  animation: move 10s ease infinite alternate;
  border-radius: 50%;
  right: 18%;
  top: 5%;
}

.common-banner-text {
  position: relative;
  width: auto;
}

.common-banner-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 140px;
  display: flex;
  gap: 19px;
  margin-top: 20px;
  z-index: 9;
  color: var(--theme-blue);
  color: transparent;
  background: linear-gradient(120deg, var(--theme-blue), var(--theme-sblue));
  background-clip: text;
  justify-content: center;
  letter-spacing: 55px;
}

.common-banner-sub {
  position: absolute;
  bottom: -8vh;
  left: 0;
  font-size: 24px;
  width: auto;
}

/* .common-banner-sub::before{
    position: absolute;
    top: -25%;
    width: 500px;
    right: 0px;
    height: 2px;
    content: '';
    background: var(--theme-blue);
} */

.common-banner .scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 10px;
  right: 10%;
  bottom: 10%;
  width: auto;
}

.common-banner .scroll img {
  width: 70px;
  height: 70px;
}

.common-banner .scroll p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.box-content {
  border-radius: 15px;
  background-color: #f3f3f3;
  padding-left: 30px;
  padding-right: 30px;
}
