@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .why-details .section-sub-heading::before {
    left: -41px;
  }
  .all-locations .each-location .location-icon {
    width: 60px;
    height: 60px;
    transform: translateX(10px);
    padding: 5px;
  }
  .all-locations .each-location {
    width: 80px;
  }
  .wrapper_1 .circle {
    width: 190px;
    height: 190px;
  }
  .banner-shape .circle-1 {
    left: -15%;
    bottom: -22%;
  }
  .banner-shape .circle-2 {
    right: -20%;
    top: -28%;
  }
  .product-banner-content .product-name {
    font-size: 85px;
  }
  .horizontal .card .number {
    left: -86px;
    top: calc(50% - 55px);
    width: 110px;
    height: 110px;
    font-size: 50px;
  }
  .sector-banner-content h1 {
    font-size: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form-content {
    padding-right: 80px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 991px) {
  .why-details .section-sub-heading::before {
    left: -37px;
  }
  .affiliation-card {
    padding: 20px;
  }
  .affiliation-card img {
    width: 190px;
  }
  .affiliation-card.avixa img {
    width: 140px;
  }
  .why-details1 .section-title br {
    display: none;
  }
  form {
    gap: 15px;
  }
  .all-locations .each-location .location-icon {
    width: 50px;
    height: 50px;
    transform: translateX(10px);
    padding: 5px;
  }
  .all-locations .each-location {
    width: 70px;
  }
  .wrapper_1 .circle {
    width: 190px;
    height: 190px;
  }
  .banner-shape .circle-1 {
    left: -15%;
    bottom: -22%;
  }
  .banner-shape .circle-2 {
    right: -20%;
    top: -28%;
  }
  .common-banner-title {
    font-size: 80px;
    /* letter-spacing: 32px; */
  }
  .common-banner-sub {
    bottom: -5vh;
    font-size: 18px;
  }
  .product-banner-content .product-name {
    font-size: 70px;
  }
  .horizontal .card .number {
    left: -86px;
    top: calc(50% - 55px);
    width: 110px;
    height: 110px;
    font-size: 50px;
  }
  .horizontal .p_box .content p {
    transform: translateX(0px);
  }
  .horizontal .card:first-child h3 {
    font-size: 65px;
  }
  .horizontal .card:first-child h2 {
    font-size: 80px;
  }
  .brand-card .first-card .second-img .heading h1 {
    font-size: 40px;
  }
  .sector-banner-content h1 {
    font-size: 50px;
  }
  .horizontal .p_box .content .text-content {
    width: unset;
  }
}

@media screen and (max-width: 990px) {
  .br-1 {
    border: 0;
  }
  br {
    display: none;
  }
  .arrow-sector {
    display: none;
  }
  .process-layer .text-center {
    text-align: unset !important;
  }
  .linkedin-container {
    padding-left: 0px;
  }
  .owl-linkedin .owl-nav {
    margin-top: 10px;
    position: relative;
    z-index: 10;
    right: unset;
  }
  footer {
    padding: 50px 12px;
  }
  .why-right {
    width: 100%;
    height: 300px;
  }
  .why-left {
    width: 100%;
  }
  .why-gallery {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .why-details1 {
    height: auto !important;
    justify-content: flex-end !important;
  }
  .why-details {
    margin-left: 20px;
    padding: 0;
  }
  #about::before {
    height: 100%;
    width: 2px;
    left: 11%;
  }
  .why-details .section-sub-heading::before {
    left: -31px;
  }
  .why-photos {
    height: 100%;
  }
  .vision-mission-card .vm-head {
    font-size: 75px;
  }
  .affiliation-card {
    padding: 20px 10px;
  }
  .affiliation-card img {
    width: 150px;
  }
  .affiliation-card.avixa img {
    width: 110px;
  }
  .all-locations .each-location.active {
    width: 100%;
    height: auto;
    gap: 30px;
    padding: 10px;
    flex-direction: column;
  }
  .all-locations {
    display: flex;
    flex-direction: column;
  }
  .all-locations .each-location {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 100px;
    align-items: center;
  }
  .all-locations .each-location h3 {
    transform: unset;
  }
  .main_wrapper {
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
  }
  .wrapper_1 {
    position: unset;
    gap: 10px;
  }
  .wrapper_1:last-child {
    display: none;
  }
  .wrapper_1 .circle {
    position: unset;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #core-values .first-card h2 {
    font-size: 35px;
  }
  .common-banner {
    margin-top: 0;
  }
  .common-banner-title {
    font-size: 60px;
  }
  .common-banner-sub {
    position: unset;
    font-size: 24px;
  }
  .banner-shape {
    margin-top: 20px;
  }
  .banner-shape img {
    width: 450px;
    height: 450px;
    transform: unset;
    outline: 15px solid #ffffff;
  }
  .banner-shape .circle-1 {
    width: 350px;
    height: 350px;
    left: -15%;
    bottom: -28%;
  }
  .banner-shape .circle-2 {
    width: 400px;
    height: 400px;
    right: -30%;
    top: -28%;
  }

  .common-banner .scroll {
    right: 0;
    bottom: 0;
  }
  .horizontal .card {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px 20px;
    background: #ebebeb;
    border-radius: 20px;
    margin: 20px 0;
    position: relative;
    min-width: unset;
  }
  .horizontal .p_box .content .text-content {
    width: 100%;
    padding: 15px;
    /* transform: unset; */
  }
  .horizontal .card .nav-pills .nav-link {
    font-size: 12px;
  }
  .horizontal .card .nav-pills .nav-link.active {
    transform: scale(1.2);
    margin: 0 20px;
  }
  .horizontal .card:first-child {
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 100%;
    border: none;
    padding: 20px 30px;
    /* background: var(--theme-blue) url(../assets/common/bg.png); */
    border-radius: 40px;
    margin: 0px 20px 0;
    position: relative;
  }
  .horizontal .p_box img {
    height: 80vh;
    object-fit: cover;
    border-radius: var(--border-rad);
    margin: 0px 0 40px;
  }
  .horizontal .p_box .content p {
    padding: 0%;
    background: transparent;
    transform: translateX(0px);
  }
  .horizontal .card .number {
    display: none;
  }

  .horizontal .card:first-child h3 {
    font-size: 65px;
    /* color: #ffffff !important; */
  }
  .horizontal .card:first-child h2 {
    font-size: 80px;
    /* color: #ffffff !important; */
  }
  .horizontal .process_wrap {
    flex-direction: column;
    width: 100%;
  }
  #header nav .navigation-list {
    height: 100vh;
    line-height: 30px;
    flex-direction: column;
    transform: translate(140%, 0px);
    transition: all 0.8s ease-in-out;
    align-items: flex-start;
    position: fixed;
    width: 45%;
    background: #fff;
    right: 0;
    top: 0;
    padding-left: 0px;
    padding-top: 100px;
    box-shadow: -4px 12px 18px -8px #0000006b;
    overflow: scroll;
  }
  #header nav .toggle {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 0;
    justify-content: center;
  }
  #header nav .toggle .bar1 {
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  #header nav .toggle .bar2 {
    width: 15px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 0.5s ease;
  }
  #header nav .toggle .bar3 {
    width: 10px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 990px) and (min-width: 767px) {
  .cta {
    padding: 80px 100px;
  }
  .cta-text-2 {
    font-size: 42px;
  }
  .vision-mission-card .content {
    padding: 20px;
    height: 210px;
  }
  .horizontal .card:first-child h3 {
    font-size: 50px;
  }
  .brand-card .first-card .second-img .heading h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 766px) {
  .main-title {
    font-size: 50px;
  }
  .section-title {
    font-size: 24px;
  }
  .banner .top-head {
    font-size: 30px;
  }

  .banner .sub-head {
    font-size: 24px;
  }
  .sound-wave {
    display: none;
  }
  #video-container {
    display: none;
  }
  .counter-t1 {
    font-size: 50px;
    transform: unset;
    margin-bottom: 20px;
  }
  .counter-t2 {
    display: none;
  }
  .number-box {
    height: 130px;
  }
  .number-box .d-flex .counter {
    font-size: 50px;
  }
  .owl-process {
    padding: unset;
  }
  .process-card {
    padding: 10px;
  }
  .process-card .number {
    width: 50px;
    height: 50px;
    top: 3%;
    left: 3%;
    font-size: 32px;
  }
  .cta-text-1 {
    font-size: 24px;
  }
  .cta-text-2 {
    font-size: 34px;
  }
  .port_sec_title {
    font-size: 20px;
  }
  .justify-footer-mob {
    justify-content: space-between !important;
  }
  .t-c p {
    text-align: center;
  }
  .section-sub-heading {
    font-size: 20px;
  }
  .vision-mission-card .content {
    padding: 20px;
    height: 210px;
  }
  .vision-mission-card:last-child {
    margin-top: 50px;
  }
  .affiliation-card {
    padding: 20px 10px;
    height: auto;
  }
  .affiliation-card img {
    width: 150px;
  }
  .affiliation-card.avixa img {
    width: 110px;
  }
  .why-card {
    padding: 15px 0;
  }
  #core-values .first-card h2 {
    font-size: 24px;
  }
  .common-banner-title {
    font-size: 80px;
    justify-content: center;
  }
  .banner-shape .circle-2 {
    width: 170px;
    height: 170px;
    right: -1%;
    top: 5%;
  }
  .banner-shape .circle-1 {
    width: 300px;
    height: 300px;
    left: -3%;
    bottom: -15%;
  }
  .product-feature-img {
    padding: 0;
    height: 500px;
  }
  .product-img-container {
    width: 100%;
    height: auto;
    max-width: 540px;
    padding: 0 12px;
  }

  .initial-ht {
    height: 0;
  }
  .img-scroll-ht #button-trigger {
    height: 0px;
  }
  .product-imgs {
    /* padding: 20px 0 !important; */
    width: 100%;
    height: 400px;
    position: unset;
    border-radius: 10px;
  }
  .product-imgs .product-img {
    position: unset;
    width: 100%;
    height: 500px;
    position: relative;
  }
  .product-imgs .product-img::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);
    border-radius: var(--border-rad);
    width: 100%;
    height: 50%;
  }
  .product-img img {
    height: 100%;
    width: 100%;
    border-radius: var(--border-rad);
    object-fit: cover;
  }
  .product-det {
    padding-top: 20px;
    position: relative;
  }
  .product-banner-content .product-name {
    font-size: 35px;
    color: #ffffff;
    display: none;
    /* width: 90%; */
  }
  .product-name-mob {
    font-size: 35px;
    color: #ffffff;
    width: 80vw;
    position: absolute;
    font-weight: 800;
    top: -70px;
    left: 5vw;
  }
  .product-name-mob br {
    display: block;
  }
  .product-banner-content p {
    display: none;
  }
  .product-banner {
    margin-top: 80px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-det .content {
    background: #f3f3f3;
    backdrop-filter: blur(0px);
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 16px;
    padding: 25px 0;
    border-radius: 15px;
    z-index: 9;
    margin: 0 20px;
  }
  .product-banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    position: absolute;
    z-index: 20;
    top: 43vh;
    left: 12vw;
  }

  #product-feature-imgs .left {
    width: 0%;
    display: none;
  }

  #product-feature-imgs .right {
    height: 100% !important;
    max-height: unset !important;
    display: unset !important;
  }
  #product-feature-imgs .photos {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #product-feature-imgs .each-feature-card {
    position: unset;
    width: unset;
    height: unset;
    max-height: auto;
    margin: 20px 0;
  }
  #product-feature-imgs .each-feature-card .intro-card h2 {
    font-size: 24px;
    text-align: start;
  }
  #product-feature-imgs .each-feature-card .other-cards::after {
    width: 0;
  }
  #product-feature-imgs .each-feature-card .other-cards::before {
    width: 0;
  }
  .each-feature-card .other-cards .content {
    position: unset;
    padding: 15px 10px;
    width: 100%;
  }
  .each-feature-card .other-cards .content img {
    display: none;
  }
  .each-feature-card:nth-child(3) .other-cards .content {
    position: unset;
    padding: 15px 10px;
    width: 100%;
  }
  .horizontal .card .number {
    left: -57px;
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
  .horizontal .card:first-child h3 {
    font-size: 50px;
  }
  .horizontal .card .card-intro {
    align-items: flex-start;
  }
  .horizontal .p_box .content .text-content {
    transform: unset;
}
.horizontal .p_box img {
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-rad);
  margin: 50px 0 40px;
}
.horizontal .card .nav-pills {
  position: absolute;
  top: 7%;
  left: 0px;
  z-index: 9;
}
  .sector-banner {
    height: auto;
    overflow: hidden;
  }
  .sector-banner-content {
    margin-left: 0px;
  }
  .sector-banner-content h1 {
    font-size: 70px;
  }
  .brand-card .first-card {
    display: flex;
    flex-direction: column;
  }
  .brand-card .first-card .first-img,
  .brand-card .first-card .second-img {
    width: 100%;
    height: 100%;
  }
  .brand-card .first-card .second-img .heading h1 {
    font-size: 28px;
  }
  .brand-card .first-card .second-img {
    padding: 12px;
  }
  .brand-card .first-card .first-img {
    padding: 12px;
  }
  .brand-card {
    margin: 0px 0;
  }
  .brand-card .second-card .content {
    width: 90vw;
  }
  .brand-card .second-card .content p {
    font-size: 16px;
  }
  .brand-card .second-card {
    background: linear-gradient(125deg, var(--theme-blue), var(--theme-sblue));
    border-radius: 0;
  }
  .device-right {
    display: none;
  }
  .device-left {
    width: 100%;
  }
  .device-details {
    height: 100%;
  }
  .device-details-wrapper {
    margin: auto;
    width: 100%;
  }
  #devices .section-title {
    transform: translateY(0px);
  }
  #devices {
    padding: 50px 0;
  }
  #brand-features .brand-feature-card {
    border: 1px solid #ffffff57 !important;
  }
  #brand-features .feature-title h2:first-child {
    margin-right: 0px;
  }
  #brand-features .feature-title h2:last-child {
    margin-left: 0px;
  }
  #brand-features .feature-title h2 {
    font-size: 24px;
  }
  #product-feature-imgs {
    padding: 50px 0;
  }
  #product-feature-imgs .section-title {
    transform: translateY(0px);
    text-align: start;
  }
  .common-banner-sub {
    text-align: center;
  }
  .horizontal .card:first-child {
    justify-content: flex-start;
    width: 100%;
    padding: 0;
}
.horizontal .card .card-intro {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  gap: 14px;
}
.horizontal .card .card-intro img{display: none;}
.horizontal .card:first-child h2 {
  font-size: 64px;
}
.horizontal .card:first-child h3 {
  font-size: 40px;
}
}

@media screen and (max-width: 766px) and (min-width: 567px) {
  .cta-text-1::before {
    left: -151px;
  }
  .cta-text-2::after {
    right: -162px;
    bottom: -61%;
    width: 81vw;
  }
  .cta {
    padding: 55px 48px;
  }
}
@media screen and (min-width: 566px) {
  .container {
    padding: 0;
  }
}

@media screen and (max-width: 566px) {
  .viewport {
    inset: 0px;
    width: 100%;
    height: 100%;
    position: unset !important;
    overflow: hidden !important;
  }
  .port-photo a h6 {
    bottom: 5px;
    left: 8px;
    font-size: 14px;
  }

  .port-photo {
    gap: 20px;
  }
  .process-layer {
    padding: 50px 12px;
  }
  .process-card {
    padding: 0px;
  }
  .cta {
    padding: 55px 48px;
  }
  .cta-text-2::after {
    right: -133px;
    bottom: -59%;
  }
  .cta-text-1::before {
    left: -145px;
  }
  .cta-text-2 {
    font-size: 24px;
  }
  .cta-text-1 {
    font-size: 16px;
  }
  .owl-linkedin::before {
    width: 0%;
  }
  footer .lets-talk .text p {
    font-size: 60px;
  }
  .why-details .section-sub-heading::before {
    left: -34px;
  }
  .box-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  form .form-field {
    width: 100%;
  }
  .wrapper_1 .circle {
    width: 120px;
    height: 120px;
  }
  .pmob-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .banner-shape img {
    width: 320px;
    height: 320px;
    transform: translateY(20%);
    outline: 10px solid #ffffff;
  }
  .banner-shape .circle-1 {
    width: 270px;
    height: 270px;
    left: 8%;
    bottom: -60%;
  }
  .banner-shape .circle-2 {
    width: 170px;
    height: 170px;
    right: 11%;
    top: 0%;
  }
  .common-banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .common-banner-sub {
    width: 70%;
  }
  .common-banner {
    height: 80vh;
    overflow: hidden;
  }
  .common-banner-title {
    font-size: 60px;
  }
  .common-banner-sub {
    font-size: 20px;
  }
  .common-banner .scroll {
    display: none;
  }
  .product-feature-img {
    padding: 0 12px;
    height: 500px;
  }
  .product-banner-content .product-name {
    padding-top: 30px;
    font-size: 45px;
  }
  .product-banner-content p {
    font-size: 16px;
  }
  .horizontal .card:first-child h2 {
    font-size: 70px;
  }
  .w-mob-100 {
    width: 100%;
  }
  .device-details .content .ms-logo {
    width: 130px;
  }
  .horizontal .p_box .content .text-content{
    padding: 0;
    background: transparent;
  }
  .horizontal .p_box img {
    height: 250px;
    margin: 100px 0 40px;
}
.horizontal .card .nav-pills {
  justify-content: center;
}
}
